@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #fbf6f6;
}

form input,
form button {
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
  border-color: rgb(231, 198, 198);
  background:#fff;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 0.5rem;
}

#add-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1188d8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

#task-display-container {
  background-color: #1B1A1F;
  border-radius: 5px;
  padding: 20px;
  border-radius: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}

#task-display-container h2 {
  color: #f7f4f4;
}

#todo-list {
  list-style-type: circle;
  padding: 2px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-size: 10vh;
  background-color: #3d3d41;
  color: #fff;
}

.todo-item.completed span {
  opacity: 0.3;
  text-decoration: line-through;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  padding: 5px 10px;
}

.todo-item .buttons-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.todo-item button.delete-btn {
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}


.todo-item button.complete-btn {
  padding: 5px 10px;
  background-color: #1188d8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}